.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogsItems {
  padding: 10px;
}

.item {
  display: block;
  text-decoration: none;
}

.messages {
  padding: 10px;
}

.ava {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.message {}